$nkd-grey: #ededed;
$nkd-border-width: 1px;

//
// skin
.nkd-tabs{
  [data-level="0"]{
    > .nkd-item{
      > .nkd-link{
        padding: 10px;
        border: $nkd-border-width solid $nkd-grey;
      }
    }
  }
  [data-level="0"] [data-level]{
    padding: 10px;
    border: $nkd-border-width solid $nkd-grey;
    margin-top: -$nkd-border-width;
  }
  [data-state="open"]{
    > .nkd-link{
      background: $nkd-grey;
    }
  }
} 
