.nkd-tabs{
  [data-level="0"]{
    width: 100%;
    float: left;
    position: relative;
    > .nkd-item{
        float: left;
      > .nkd-link{
        display: block;
      }
    }
  }
  [data-level="0"] [data-level]{
    width: 100%;
    float: left;
    position: absolute;
    top: 100%;
    left: 0;
  }
  [data-state="closed"]{
    [data-level]{
      display: none;
    }
  }
}
